.gradle/
.idea/
build/
local.properties
Bill-Calculator.iml
app/app.iml
BillCalculator.iml
app/signing.gradle
persistence/persistence.iml
database-generator/database-generator.iml
app/fabric.properties
