<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.srw.billcalculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BillCalculator"
        android:allowBackup="true"
        android:backupAgent=".backup.PrefsAndDbBackupAgent"
        android:fullBackupOnly="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI_tBtwSqlL01-gs3yoFWG0EL9-htLTXM3SqljZw" />

        <activity
            android:name=".history.DrawerActivity"
            android:label="@string/app_name_short"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bill.activity.PgeBillActivity"
                  android:label="@string/energy_bill"
                  android:theme="@style/AppTheme.Pge" />

        <activity android:name=".bill.activity.PgnigBillActivity"
                  android:label="@string/gas_bill"
                  android:theme="@style/AppTheme.Pgnig" />

        <activity android:name=".bill.activity.TauronBillActivity"
                  android:label="@string/energy_bill"
                  android:theme="@style/AppTheme.Tauron" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_label">
        </activity>

        <activity android:name=".settings.help.ProviderSettingsHelpActivity"
                  android:label="@string/action_help"
                  android:theme="@style/DialogTheme" />

        <service android:name=".bill.service.PgnigBillStoringService" />

        <service android:name=".bill.service.PgeBillStoringService" />

        <service android:name=".bill.service.TauronBillStoringService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>