<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.srw.billcalculator">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- TODO permissions -->

    <application
        android:name=".BillCalculator"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".EnergyBillActivity"
            android:label="@string/energy_label">
        </activity>

        <activity android:name=".GasBillActivity"
            android:label="@string/gas_label" />

        <activity android:name=".SettingsActivity"
            android:label="@string/settings_label" />

        <activity android:name=".AboutActivity"
            android:label="@string/about_label" />
        
        <activity android:name=".HistoryActivity"
            android:label="@string/history_label" />

    </application>

</manifest>
